@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* content */
.container {
    height: 90vh;
}
.sub-container {
    max-width: 1300px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    gap: 20px;
    justify-content: center;

}

.box {
    width: 280px;
    height: 50px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
}

.fa-plus {
    color: green;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
}

.fa-wrench{
    color: brown;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
}

.fa-trash{
    color: red;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
}

.fa-registered{
    color: skyblue;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
}

.add,.update,.delete,.register {
    font-size: 23px;
    text-transform: uppercase;
}

.add a,.update a,.delete a , .register a{
    text-decoration: none;
    color: #000;
}